<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="provider" value="System.Data.SqlClient"/>
		<add key="connectionString" value="Data Source=MUHAMMEDLENOVO;Initial Catalog=EmployeesDB;Integrated Security=True"/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>